In [1]:
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

print(sa.__version__)

1.2.10

In [2]:
engine = sa.create_engine('mssql+pyodbc://ORLEBIDEVDB/INTEGRATION?driver=SQL+Server+Native+Client+11.0', echo=True)

# pyodbc
# engine = create_engine('mssql+pyodbc://Oswald.Ramirez:5EDdeadredemption2!@ORLEBIDEVDB')

# pymssql
# engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')

inspector = inspect(engine)
print(inspector)

2018-08-20 19:15:51,376 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2018-08-20 19:15:51,376 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,443 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2018-08-20 19:15:51,443 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,545 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-20 19:15:51,545 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,620 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2018-08-20 19:15:51,620 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.engine.reflection.Inspector object at 0x00000207C760A240>

In [5]:
from sqlalchemy.sql import text
from sqlalchemy import create_engine
import pandas as pd

conn = engine.connect()

#int_mkt_collects = conn.execute('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails]')
#mkt_text = text('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails]')
#mkt_res = conn.execute(mkt_text).fetchall()
#print(mkt_res)

mkt_text = text('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = :inputDate')
#mkt_res = conn.execute(mkt_text, inputDate=20180701).fetchall()
#print(mkt_res)

#df = pd.DataFrame(mkt_res)
#df.head()

# Create df from data:
df = pd.read_sql(mkt_text.format(inputDate=20180701), engine)
df.head()

2018-08-20 19:38:03,072 INFO sqlalchemy.engine.base.Engine SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = ?
2018-08-20 19:38:03,072 INFO sqlalchemy.engine.base.Engine (20180701,)
[(3511445, 1, 20180701, 95, 2, 'RSA', 108528078, 53486821, 2100329, None, '12', 'W036818082188', 'R6-New Port Richey Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 4, None, 0, 7, 'M', 1, 808, '12', 4853, 4853, 4853, datetime.date(1965, 9, 30), '34610', 2, 11083, 4853, None, 30, None, 6043, 37480, 12480, 'St. Michaels Church - Hudson', '34667', datetime.datetime(2018, 7, 1, 9, 1), datetime.datetime(2018, 7, 1, 9, 8), 539), (3511446, 1, 20180701, 91, 2, 'RSA', 108528818, 53294110, 2163141, None, '12', 'W036818285804', 'R6-Lakeland-Lakeland Hills Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 3, None, 0, 7, 'F', 1, 756, '12', 8339, 8339, 8339, datetime.date(1993, 2, 11), '33810', 2, 8339, 8339, None, 34, None, 8339, 44463, 19463, 'Publix - Town & Country', '33810', datetime.datetime(2018, 7, 1, 14, 16), datetime.datetime(2018, 7, 1, 14, 21), 538), (3511447, 1, 20180701, 92, 2, 'RSA', 108529795, 55065688, 2159086, None, '3', 'W036818610635', 'R3-Leesburg Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), None, 'Y', 0, 7, 'M', 1, 712, None, None, None, 8239, datetime.date(1984, 8, 26), '32063', 2, 11280, 8239, None, 12, None, 8239, 34896, 9896, 'Walmart Leesburg', '34748', None, None, None), (3511448, 1, 20180701, 92, 2, 'RSA', 108529799, 54944958, 2159086, None, '12', 'W036818610639', 'R3-Leesburg Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 3, None, 0, 7, 'M', 1, 712, '12', 8239, 11280, 8239, datetime.date(1992, 3, 5), '34788', 2, 8239, 8239, None, 12, None, 8239, 34896, 9896, 'Walmart Leesburg', '34748', datetime.datetime(2018, 7, 1, 12, 46), datetime.datetime(2018, 7, 1, 12, 52), 534), (3511449, 1, 20180701, 96, 2, 'RSA', 108529654, 55065645, 2171411, None, '4', 'W036818433517', 'R2-North Broward Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), None, 'Y', 0, 2, 'M', 1, 30, None, None, None, 613, datetime.date(1991, 11, 7), '33313', 2, 613, 613, None, 40, None, 613, 27717, 2717, 'Regal Magnolia Place Stadium 16', '33076', None, None, None), (3511450, 1, 20180701, 121, 2, 'RSA', 108528841, 52903604, 2166132, None, '12', 'W036818272052', 'R7-Tallahassee-Riggins Rd Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 2, None, 0, 7, 'F', 1, 777, '12', 7794, 7794, 7794, datetime.date(1948, 1, 16), '32352', 2, 7794, 7794, None, 38, None, 7794, 50160, 25160, 'Walmart - Quincy', '32351', datetime.datetime(2018, 7, 1, 14, 53), datetime.datetime(2018, 7, 1, 15, 2), 511), (3511451, 1, 20180701, 94, 2, 'RSA', 108529327, 55065556, 2131995, None, '12', 'W036818604632', 'R3-Marion/Ocala Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 3, None, 0, 7, 'M', 1, 711, '12', 8941, 9037, 9037, datetime.date(1956, 8, 15), '32179', 2, 8941, 9037, None, 21, None, 9050, 50442, 25442, 'Walmart -Silver Springs Shores', '34472', datetime.datetime(2018, 7, 1, 16, 31), datetime.datetime(2018, 7, 1, 16, 37), 541), (3511452, 1, 20180701, 83, 2, 'RSA', 108528733, 55065407, 2164678, None, '4', 'W036818559742', 'R5-Ft. Myers Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), None, 'Y', 0, 3, 'F', 1, 872, None, None, None, 9047, datetime.date(1945, 5, 30), '33990', 2, None, 9047, None, 11, None, 4519, 53949, 28949, "Sam's Club - Pine Island", '33993', None, None, None), (3511453, 1, 20180701, 102, 2, 'RSA', 108528555, 55065360, 2168363, None, '12', 'W036818600994', 'R4-Orlando Mobiles #2', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 3, None, 0, 7, 'F', 1, 738, '12', 8787, 11455, 11455, datetime.date(1971, 5, 8), '32812', 2, 8787, 11455, None, 22, None, 3512, 31825, 6825, 'Walmart - Goldenrod', '32822', datetime.datetime(2018, 7, 1, 13, 24), datetime.datetime(2018, 7, 1, 13, 32), 534), (3511454, 1, 20180701, 115, 2, 'RSA', 108530267, 55023692, 2150146, None, '4', 'W036818444118', 'R1-Miami Dade South/Central Mobiles', datetime.datetime(2018, 7, 2, 6, 40, 35, 87000), datetime.datetime(2018, 8, 20, 6, 40, 38, 247000), 3, 'Y', 0, 7, 'F', 1, 10, None, None, None, 6141, datetime.date(1965, 6, 24), '33139', 2, None, 6141, None, 2, None, 6141, 27913, 2913, 'Regal - South Beach', '33139', None, None, None)]

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3511445,1,20180701,95,2,RSA,108528078,53486821,2100329,None,...,30,None,6043,37480,12480,St. Michaels Church - Hudson,34667,2018-07-01 09:01:00,2018-07-01 09:08:00,539.0
1,3511446,1,20180701,91,2,RSA,108528818,53294110,2163141,None,...,34,None,8339,44463,19463,Publix - Town & Country,33810,2018-07-01 14:16:00,2018-07-01 14:21:00,538.0
2,3511447,1,20180701,92,2,RSA,108529795,55065688,2159086,None,...,12,None,8239,34896,9896,Walmart Leesburg,34748,NaT,NaT,NaN
3,3511448,1,20180701,92,2,RSA,108529799,54944958,2159086,None,...,12,None,8239,34896,9896,Walmart Leesburg,34748,2018-07-01 12:46:00,2018-07-01 12:52:00,534.0
4,3511449,1,20180701,96,2,RSA,108529654,55065645,2171411,None,...,40,None,613,27717,2717,Regal Magnolia Place Stadium 16,33076,NaT,NaT,NaN

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

# Create a base table
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Enum
# Creating a table of July 2018 platelet donors:
class PlDonorsJul2018(Base):
    __tablename__ = 'plDonorsJul2018'
    
    person_id = Column(Integer, primary_key=True)
    sex = Column(Enum('M', 'F'))
    donation_type_id = Column(Integer)
    completed_flag_id = Column(Integer)
    collect_date_id = Column(Integer)
    
    def __repr__(self):
        return "<July 2018 Donor(person_id='%s', collect_date_id='%s', donation_type_id='%s', completed_flag_id='%s')>"%\
        (self.person_id, self.collect_date_id, self.donation_type_id, self.completed_flag_id)

In [ ]:
# We need a session to make insertions into our table
from sqlalchemy.orm import sessionmaker

test = [
    {'person_id': 1, 'sex': 'M', 'donation_type_id': 2, 'completed_flag_id': 8, 'collect_date_id': 20180704},
    {'person_id': 1, 'sex': 'M', 'donation_type_id': 5, 'completed_flag_id': 4, 'collect_date_id': 20180709}
]

Session = sessionmaker(bind=engine)
session = Session()

# Use our class to create instances and table rows to add to the session:
p1 = PlDonorsJul2018(**test[0])
print(p1)

session.add(p1)
session.new

In [ ]:
# Remove instance from the sessions
session.expunge(p1)
session.new

# Can commit data to the database

In [ ]:
# Connect to db using dataset:
import dataset
db = dataset.connect('mssql+pyodbc://ORLEBIDEVDB/INTEGRATION?driver=SQL+Server+Native+Client+11.0')

print(db.tables)

In [ ]:
# Grab the mktcollection table:
mktCollect_Table = db['INT_MKTCollectionDetails']
# get data from table
mkt_collects = mktCollect_Table.find()
mkt_collects = list(mkt_collects)

print(mkt_collects)