In [1]:
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

print(sa.__version__)

1.2.10

In [2]:
engine = sa.create_engine('mssql+pyodbc://ORLEBIDEVDB/INTEGRATION?driver=SQL+Server+Native+Client+11.0', echo=True)

# pyodbc
# engine = create_engine('mssql+pyodbc://Oswald.Ramirez:5EDdeadredemption2!@ORLEBIDEVDB')

# pymssql
# engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')

inspector = inspect(engine)
print(inspector)

2018-08-20 19:15:51,376 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2018-08-20 19:15:51,376 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,443 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2018-08-20 19:15:51,443 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,545 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-20 19:15:51,545 INFO sqlalchemy.engine.base.Engine ()
2018-08-20 19:15:51,620 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2018-08-20 19:15:51,620 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.engine.reflection.Inspector object at 0x00000207C760A240>

In [10]:
from sqlalchemy.sql import text
from sqlalchemy import create_engine
import pandas as pd

conn = engine.connect()

#int_mkt_collects = conn.execute('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails]')
#mkt_text = text('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails]')
#mkt_res = conn.execute(mkt_text).fetchall()
#print(mkt_res)

mkt_text = text('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = :inputDate')
#mkt_res = conn.execute(mkt_text, inputDate=20180701).fetchall()
#print(mkt_res)

#df = pd.DataFrame(mkt_res)
#df.head()
mkt_text2 = text('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = {}')


# Create df from data:
df = pd.read_sql('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = {}'.format(20180701), engine)
#df = pd.read_sql(mkt_text2.format(20180701), engine)
df.head()

2018-08-20 19:50:59,583 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2018-08-20 19:50:59,587 INFO sqlalchemy.engine.base.Engine ('SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = 20180701', 'dbo')
2018-08-20 19:50:59,867 INFO sqlalchemy.engine.base.Engine SELECT TOP 10 * FROM [dbo].[INT_MKTCollectionDetails] WHERE collectiondatesk = 20180701
2018-08-20 19:50:59,871 INFO sqlalchemy.engine.base.Engine ()

,CollectionDetailSK,DonationTypeSK,CollectionDateSK,LocationSK,motivationsk,SourceSystem,registrationID,personid,driveid,failurecode,...,StagingAreaSK,MachineSerialNo,TeamLeadEmpID,GroupID,AccountID,AccountInternalName,AccountZipCode,DrawTime,WithdrawlTime,ParentVolume
0,3511445,1,20180701,95,2,RSA,108528078,53486821,2100329,None,...,30,None,6043,37480,12480,St. Michaels Church - Hudson,34667,2018-07-01 09:01:00,2018-07-01 09:08:00,539.0
1,3511446,1,20180701,91,2,RSA,108528818,53294110,2163141,None,...,34,None,8339,44463,19463,Publix - Town & Country,33810,2018-07-01 14:16:00,2018-07-01 14:21:00,538.0
2,3511447,1,20180701,92,2,RSA,108529795,55065688,2159086,None,...,12,None,8239,34896,9896,Walmart Leesburg,34748,NaT,NaT,NaN
3,3511448,1,20180701,92,2,RSA,108529799,54944958,2159086,None,...,12,None,8239,34896,9896,Walmart Leesburg,34748,2018-07-01 12:46:00,2018-07-01 12:52:00,534.0
4,3511449,1,20180701,96,2,RSA,108529654,55065645,2171411,None,...,40,None,613,27717,2717,Regal Magnolia Place Stadium 16,33076,NaT,NaT,NaN

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

# Create a base table
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Enum
# Creating a table of July 2018 platelet donors:
class PlDonorsJul2018(Base):
    __tablename__ = 'plDonorsJul2018'
    
    person_id = Column(Integer, primary_key=True)
    sex = Column(Enum('M', 'F'))
    donation_type_id = Column(Integer)
    completed_flag_id = Column(Integer)
    collect_date_id = Column(Integer)
    
    def __repr__(self):
        return "<July 2018 Donor(person_id='%s', collect_date_id='%s', donation_type_id='%s', completed_flag_id='%s')>"%\
        (self.person_id, self.collect_date_id, self.donation_type_id, self.completed_flag_id)

In [ ]:
# We need a session to make insertions into our table
from sqlalchemy.orm import sessionmaker

test = [
    {'person_id': 1, 'sex': 'M', 'donation_type_id': 2, 'completed_flag_id': 8, 'collect_date_id': 20180704},
    {'person_id': 1, 'sex': 'M', 'donation_type_id': 5, 'completed_flag_id': 4, 'collect_date_id': 20180709}
]

Session = sessionmaker(bind=engine)
session = Session()

# Use our class to create instances and table rows to add to the session:
p1 = PlDonorsJul2018(**test[0])
print(p1)

session.add(p1)
session.new

In [ ]:
# Remove instance from the sessions
session.expunge(p1)
session.new

# Can commit data to the database

In [ ]:
# Connect to db using dataset:
import dataset
db = dataset.connect('mssql+pyodbc://ORLEBIDEVDB/INTEGRATION?driver=SQL+Server+Native+Client+11.0')

print(db.tables)

In [ ]:
# Grab the mktcollection table:
mktCollect_Table = db['INT_MKTCollectionDetails']
# get data from table
mkt_collects = mktCollect_Table.find()
mkt_collects = list(mkt_collects)

print(mkt_collects)